body {
    font-family: 'Segoe UI', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding: 0 1em 2em;
    border: 5px solid #A7C7E7;
    border-radius: 5px;
}

.form-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.required {
    color: red;
}